@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(./PressStart2P-Regular.woff) format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Variable';
  src: 
    local('Inter-Variable'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-display: swap;
  font-weight: 410 715;
}

/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
