/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--text-font-weight);
}

.header {
  display: flex;
  justify-content: center;
  block-size: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
  block-size: var(--container-height);  
}

.cards {
  display: grid;
  justify-items: center;
  gap: 50px;
}

.card__block {
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: #fff;
  inline-size: var(--container-width);
}

.header-title {
  font-family: var(--accent-font);
  font-size: var(--header-font-size);
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--accent-font);
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
}

.card__list {
  display: grid;
  justify-items: center;
  gap: 50px;
}

.card-title {
  padding-inline: 10px;
  padding-block: 4px;
  font-weight: var(--title-font-weight);
  font-size: 18px;
  line-height: 22px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
}

.image__container {
  position: relative;
}

.card-image {
  margin-block-end: 20px;
  inline-size: 100%;
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  text-shadow:
    1px 0px 0 var(--color-white),
    0px 1px 0 var(--color-white),
    1px 1px 0 var(--color-white),
    -1px 1px 0 var(--color-white),
    1px -1px 0 var(--color-white),
    -1px 0px 0 var(--color-white),
    -1px -1px 0 var(--color-white),
    0px -1px 0 var(--color-white);
  mix-blend-mode: hard-light;
}

@supports(text-stroke: 1px var(--color-white)) or (-webkit-text-stroke: 1px var(--color--white)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
  }
}

.card-text {
  font-weight: var(--text-font-seight);
  font-size: 18px;
  line-height: 21px;
}

.button__content {
  display: flex;
  align-self: end;
}

.card__like-button {
  margin-block-end: 25px;
  border: 2px solid var(--main-color);
  padding-inline: 35px;
  padding-block: 7px;
  background-color: transparent;
}

.card__icon-button {
  align-self: start;
  border: none;
  background-color: transparent;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--accent-font-size);
  line-height: 90%;
}

.footer__button {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
}

.button-save {
  gap: 8px;
  padding-inline: 20px;
  padding-block: 20px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 150%;
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
}

.dialog__icon {
  display: block;
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.button-ok {
  inline-size: 100%;
  padding-block: 12px;
  text-transform: uppercase;
  font-size: var(--accent-font-size);
  background-color: transparent;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font);
  border: 2px solid var(--main-color);
}

.dialog-window {
  padding: 30px;
  inline-size: 353px;
}

.save__container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-end: 30px;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.diskette-icon {
  inline-size: 100%;
  block-size: auto;
}

@media (width < 376px) {
  .button-save {
    flex-direction: column;
  }

  .dialog-window {
    padding-inline: 40px;
  }

  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}