.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-font-weight);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-sepia {
  filter: sepia(77%);
}

.filter-blur {
  filter: blur(0.2rem);
}

.filter-contrast-blur {
  filter: contrast(50%) blur(1.45rem);
}

.filter-saturate {
  filter: saturate(500%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-brightness {
  filter: brightness(1.5);
}

.filter-hue-rotate {
  filter: hue-rotate(-50deg);
}

.header {
  display: flex;
  justify-content: center;
  block-size: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  margin-block-end: 98px;
  block-size: var(--container-height);
}

.header-title {
  font-family: var(--accent-font);
  font-size: var(--header-font-size);
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--accent-font);
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
}

.cards {
  display: grid;
  justify-items: center;
  gap: 50px;
  margin-block-end: 100px;
}

.card__block {
  border: 2px solid var(--main-color);
  background-color: var(--color-white);
  inline-size: var(--container-width);
}

.card__list {
  display: grid;
  justify-items: center;
  gap: 50px;
}

.card-title {
  padding-inline: 10px;
  padding-block: 4px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block-start: 25px;
}

.image__container {
  position: relative;
  border-block: 2px solid var(--main-color);
}

.card-image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  max-block-size: 696px;
}


.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  text-shadow:
    1px 0px 0 var(--color-white),
    0px 1px 0 var(--color-white),
    1px 1px 0 var(--color-white),
    -1px 1px 0 var(--color-white),
    1px -1px 0 var(--color-white),
    -1px 0px 0 var(--color-white),
    -1px -1px 0 var(--color-white),
    0px -1px 0 var(--color-white);
  mix-blend-mode: hard-light;
}

@supports(text-stroke: 1px var(--color-white)) or (-webkit-text-stroke: 1px var(--color--white)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
  }
}

.card-text {
  font-size: 18px;
  line-height: 21px;
}

.button__content {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding-block-end: 23px;
}

.card__like-button {
  padding-inline: 35px;
  padding-block: 12px;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px var(--main-color);
  outline: none;
  transition: 0.3s ease;
}

.button-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--color-white);
  cursor: pointer;
}

.button-style::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button-style:hover::before {
  content: "";
  transform: scaleX(1);
}

.card__icon-button {
  display: flex;
  align-self: start;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
} 

.button__text {
  position: relative;
  color: var(--color-white);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--accent-font-size);
  line-height: 90%;
  mix-blend-mode: difference;
}

.button-save {
  gap: 8px;
  padding-inline: 20px;
  padding-block: 17px;
}

.button-save:focus {
  box-shadow: 2px 2px 0px var(--main-color);
  outline: none;
  transition: 0.3s ease;
}

.dialog__text {
  line-height: 150%;
  text-transform: uppercase;
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.dialog__icon {
  display: block;
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.button-ok {
  padding-block: 12px;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  background-color: transparent;
  inline-size: 100%;
}

.button-ok:focus {
  box-shadow: 2px 2px 0px var(--main-color);
  outline: none;
  transition: 0.3s ease;
}

.dialog-window {
  padding: 30px;
  inline-size: 353px;
}

.save__container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-end: 30px;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.diskette-icon {
  inline-size: 100%;
  block-size: auto;
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

@media (width < 376px) {
  .button-save {
    flex-direction: column;
  }

  .dialog-window {
    padding-inline: 40px;
  }

  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}