/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --color-white: #fff;
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --title-font-weight: 715;
  --text-font-weight: 410;
  --accent-font-size: 14px;
  --main-color: #000;
  --contour-color: #000;
  --animation-fill-color: #FF0000;
  --bg-gradient: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --container-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --container-height: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  --header-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}